{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-success text-white">
        <h3>Analyze Resume</h3>
    </div>

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            <h4>Extracted Resume</h4>

            <textarea
                class="form-control"
                rows="12"
                readonly>{{ resume.extracted_text }}</textarea>

            <br>

            <h4>Job Description</h4>

            <textarea
                class="form-control"
                rows="12"
                name="job_description"
                placeholder="Paste Job Description here..."
                required></textarea>

            <br>

            <button type="submit" class="btn btn-success">
                Analyze ATS
            </button>

        </form>

    </div>

</div>

{% endblock %}